Q1. Create one variable containing following type of data:

In [3]:
# Answer

# (i) string
my_name = "Mehul"
# (ii) list
fruits_list = ["apple", "banana", "cherry", "pineapple"]    
# (iii) float
pi_value = 3.14
# (iv) tuple
fruits_tuple = ("apple", "banana", "cherry", "pineapple")

Q2. What will be the data type of the above given variable.

In [5]:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

# Answer
# (i) var1 = ' '  -> string
# (ii) var2 = '[ DS , ML , Python]' -> string
# (iii) var3 = [ 'DS' , 'ML' , 'Python' ] -> list
#(iv) var4 = 1 -> int

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

In [6]:
# Answer

# (i) /
#   -> The division operator (/) is used to perform floating point division
#   -> Example: 
division = 9 / 2
# output = 4.5

# (ii) %
#    -> The modulo operator (%) is used to find the remainder of the division of two numbers.
#    -> Example:
mod_division = 7 % 3
# output = 1

# (iii) //
#    -> The floor division, also known as integer division, (//) is used to divide two numbers and convert the result in to nearest integer value.
#    -> Example: 
floor_division = 10 // 3
# output = 3

# (iv) **
#    -> The exponential operator (**) is used to find the power of one value to another value
#    -> Example: 
power_operator = 4 ** 3
# output = 64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [7]:
# Answer

my_list = [1, 'hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 25}, (1, 2, 3), None, 'world', False]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John', 'age': 25}, Data Type: <class 'dict'>
Element: (1, 2, 3), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: world, Data Type: <class 'str'>
Element: False, Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [18]:
# Answer
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0

if (A % B) != 0:
    print("A is not divisible by B.")
else:
    while A % B == 0:
        A = A // B
        count += 1
    print(f"A is divisible by B {count} times.")

A is not divisible by B.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [ ]:
# Answer
my_list = [5, 12, 8, 17, 9, 21, 6, 14, 11, 4, 19, 7, 10, 3, 16, 22, 13, 2, 20, 15, 1, 18, 23, 25, 24]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Answer:     
    1. Mutable Data Types: 
        -> Mutable data types are those data types that allow modification in data after they are created. 
        -> Mutable data types are list, dictionary and set.

    2. Immutable Data Types:
        -> Immutable datatypes are those data types that do not allow modification in data after they are created.
        -> Immutable data types are strings and tuples.

In [ ]:
# Answer 7 Example

# Mutable Data Types Example:

# Create a list
my_list = [1, 2, 3]

# Modify an element
my_list[0] = 100
print(my_list)  # Output: [100, 2, 3]

# Add a new element
my_list.append(4)
print(my_list)  # Output: [100, 2, 3, 4]

# Immutable Data Types Example:

# Create a tuple
my_tuple = (1, 2, 3)

# Attempt to modify an element (this will raise an error)
# my_tuple[0] = 100  

# Create a new tuple instead if you want to change the data
my_tuple = (100, 2, 3)
print(my_tuple)  # Output: (100, 2, 3)